{% extends "base.html" %} 

{% block Title %}Toronto{% endblock %}

{% block content %}
    <main>
        <div>
            <img src="../images/just cat.png" alt="image of some cat" width="1000">
            <h2>
                [Content to be replaced]
            </h2>
                <p>[Content to be replaced]</p>      
        </div>
        <br>
            


        <div>
            <p>
                    <a href="../homepage.html">&lt;Go  Back</a>
                </p>
        </div>
    </main>
{% endblock %}