/* ---------------------------Different part setting(各区域样式）-------------------------- */

.about-us {
    width: auto;
    min-height: 100vh;
    border: 0px;
    position: relative;
        top: 20px;
}

.about-title {
    width: 30%;
    margin: 40px;
    padding: 30px;
    font-size: 20px;
    position: relative;
        right: 130px;
}
.about-title h1{
    margin-top: 0px;
}
.about-content {
    width: 18%;
    margin: 40px;
    padding: 30px;
    font-size: 13px;
    font-family: 'Stack_Sans_Notch', sans-serif;
    font-weight: 400;
    position: relative;
        right: -20px;
}
.getStart{
    padding: 10px 25px;
}
