{% extends "base.html" %} 

{% block Title %}About{% endblock %}

{% block content %}
    <main >
        <div class="about-us">
            <div class="row row-center">
                <div class="about-title">
                    <h1>About Travel Cat</h1>
                    <img src="/static/icon/about-cat-icon.png" class="nav-icon" alt="about-icon" width="70">
                </div>
                <div class="about-content">
                    <p>
                        Welcome to Travel Cat, a whimsical space that brings the world to life—one paw print at a time.
                    <p>
                        Travel Cat lets you explore the world through the eyes of an adorable feline companion. Each destination
                        features weather updates, local tips, and a blend of history, culture, and everyday life.
                    </p>
                    <p>
                        Our mission is to turn curiosity into adventure, letting you experience global cuisine, languages, pop culture,
                        and folklore through the playful lens of a feline companion. Adventures often begin with wonder—and cats always
                        know the way. 🐱✈️
                    </p>
                    </p>
                    <div>
                        <a href="/homepage" class="getStart">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}





    
