{% extends "base.html" %} 

{% block Title %}About{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>About Travel Cat</h1>
                <p>
                    Welcome to Travel Cat, a whimsical space that brings the world to life—one paw print at a time.
                    Travel Cat lets you explore the world through the eyes of an adorable feline companion. Each destination features weather updates, local tips, and a blend of history, culture, and everyday life.
                    Our mission is to turn curiosity into adventure, letting you experience global cuisine, languages, pop culture, and folklore through the playful lens of a feline companion. Adventures often begin with wonder—and cats always know the way. 🐱✈️
                </p>

                
        </div>

        <div>
            <p>
                    <a href="../homepage.html">&lt;Go  Back</a>
                </p>
        </div>
    </main>
{% endblock %}





    
