{% extends "base.html" %} 

{% block Title %}Cities{% endblock %}

{% block content %}
    <main>
        <div class = "articles">
            <h2>Citys</h2>
            
            <div class = "Industry">
                <div>
                    <h3><a href="../articles/manga-wiki.html">[Content to be replaced]</a></h3>
                    <p>[Content to be replaced]</p>
                    <img src="../images/manga.png" alt="image of City" width="300">
                </div>
                <br>

                <div>
                    <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                    <p>[Content to be replaced]</p>
                    <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
                </div>
                <br>

                <div>
                    <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                    <p>[Content to be replaced]</p>
                    <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
                </div>
                <br>

                <div>
                    <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                    <p>[Content to be replaced]</p>
                    <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
                </div>
                <br>
            </div>
            <br>
        </div>
                
        <div>
            <p>
                    <a href="../homepage.html">&lt;Go  Back</a>
                </p>
        </div>
    </main>
{% endblock %}