<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Travel Cat</title>
    <link rel="icon" type="jpg" href="../static/icon/WebIcon2.png">

    <!-- CSS Link -->
    <link rel="stylesheet" href="../static/css/start.css" />
    <link rel="stylesheet" href="../static/css/homepage.css" />


    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <style>
    
    </style>
</head>

<body>
   <nav class = "nav">
        <dev>
            <img src="../static/icon/WebIcon2.png" alt="image of a WebLogo" class = "nav-logo">
        </dev>
        <dev >
            <form action="processing-script.php" method="GET">
                <input name="search" name="search" placeholder="Search" class = "nav-search">
                <button class="search-icon"><img src="../static/icon/search-icon.png" alt="SearchIcon" class="search-icon"></button>
            </form>
            <!-- #需要检查 -->
        </dev>
        <dev class = "nav-link">
            <a href="./homepage.html">
                Home
                <img src="../static/icon/home-icon.png" class="nav-icon" alt="home-icon">
            </a>
            <a href="./cityslist.html">
                Citys
                <img src="../static/icon/map-icon.png" class="nav-icon" alt="city-icon">
            </a>
            <a href="./about.html">
                About
                <img src="../static/icon/about-icon.png" class="nav-icon" alt="about-icon">
            </a>           
        </dev>
        <dev class = "right">
            <button id="openLogin" class = "login-icon">Login | Sign up</button>
            <!-- <button id="openSignUp">Sign up</button> -->
            <!-- #login和signup需不需要分开做？？ -->

            <dialog id="loginDialog" class = "login">
                <form action="processing-script.php" method="POST" >
                    <div class = "login-title">
                        <img src="../static/icon/WebIcon2.png" alt="image of a WebLogo">
                        <h3>Sign In</h3>
                    </div>
                    <div class="loginForm">
                        <label>
                            E-mail Address<input type="email" name="email" required>
                        </label>
                    </div>
                    <div class="loginForm">
                        <label>
                            Password<input type="password" name="password" required>
                        </label>
                    </div>
                    <div class="logincheckbox">
                        <label>
                            <input type="checkbox" name="remember" required>Remember me
                        </label>
                    </div>

                    <div>
                        <button type="submit" class = "signin">Sign in</button>
                        <button type="button" id="closeLogin">Cancel</button>
                    </div>
                </form>
            </dialog>
            <!-- #检查表单 -->
            <!-- #登录界面的标签logo没做 -->
            <!-- #有一些缩放和居中的问题 -->
        </dev>
    </nav>

    <main class = "mapArea">
        <div id="map"></div>
            <script>
                mapboxgl.accessToken = 'pk.eyJ1IjoiaDg2OTY2MTM2OCIsImEiOiJjbWgweXdiYXIyam4zMmpxMm4xdzVxdDZ3In0.ss474gDeBh40T0_8FFKw2A';
                const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v12', // 样式ID
                center: [-79.3832, 43.6532], // 多伦多坐标
                zoom: 12
                });

                // 添加缩放控件
                map.addControl(new mapboxgl.NavigationControl());

                // 添加标记
                new mapboxgl.Marker().setLngLat([-79.3832, 43.6532]).addTo(map);
            </script>

        <div class="mapButton","right">
            <button id="openShop">Shop</button>
            <button id="openWeather">Weather</button>
            <button id="openHotels">Hotels</button>
        </div>
    </main>
  
    

    <div class = "citys">
        <h2>Citys</h2>
            
            <div class = "Industry">
                <div>
                    <h3>[Content to be replaced]</h3>
                    <p>[Content to be replaced]Weather:Rain</p>
                    <!-- <img src="./images/manga.png" alt="image of City" width="500"> -->
                    <p>
                        History:[Content to be replaced]Toronto was founded as the Town of York and capital of Upper Canada in 1793 after the Mississaugas sold the land to the British in the Toronto Purchase.[1] For over 12,000 years, Indigenous People have lived in the Toronto area. The ancestors of the Huron-Wendat were the first known groups to establish agricultural villages in the area about 1,600 years ago.[2]
                    </p>
                    <p><a href="./cityspage/templatepage.html">More</a></p>
                </div>

                <div>
                    <h3>[Content to be replaced]</h3>
                    <p>[Content to be replaced]Weather:Rain</p>
                    <!-- <img src="./images/manga.png" alt="image of City" width="500"> -->
                    <p>
                        History:[Content to be replaced]Toronto was founded as the Town of York and capital of Upper Canada in 1793 after the Mississaugas sold the land to the British in the Toronto Purchase.[1] For over 12,000 years, Indigenous People have lived in the Toronto area. The ancestors of the Huron-Wendat were the first known groups to establish agricultural villages in the area about 1,600 years ago.[2]
                    </p>
                    <p><a href="./cityspage/templatepage.html">More</a></p>
                </div>
                
            </div>
            <br>
       

    </div>

    <footer>
        <div>
            <h2>Cookies</h2>
            <p>
                We use cookies to enhance and promote our services. Choose “Accept All” to agree to the current cookie settings or “Customize” to make individual choices and get details on the cookies in use.Visit our Cookie Policy page to learn more.
            </p>
            <a href="#">Accept cookies</a>
        </div>
        
    </footer>

    <script src = "../static/js/main.js"></script>
</body>
</html>
