{% extends "base.html" %} 

{% block Title %}Travel Cat{% endblock %}


{% block content %}
    <main>
        <div class="grid-bg">
            <div class="content row">
                <div class = "main-text">
                    <h2>Travel cat</h2>
                    <p class = "intro">
                        Your curious cat, your world of wonders.
                    </p>
                    <p>
                        Exploring the world with kittens through food, clothing, accommodation and transportation.
                    </p>
                    <div>
                        <a href="/homepage" class="getStart">Get Start</a>
                    </div>
                </div>
                
                <img class = "right" src="/static/img/cat/cat_white_autumn.png" alt="image of startPic" width="600">
            </div>
        </div>
    </main>
{% endblock %}



