<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citys</title>
    <link rel="icon" type="jpg" href="../images/cat.jpg">
</head>
<body>
     <nav>
            <img src="../images/cat.jpg" alt="image of a cat" width="50">
            <a href="../homepage.html">Homepage</a>&nbsp;&nbsp;&nbsp;
            <a href="./cityslist.html">Citys</a>&nbsp;&nbsp;&nbsp;
            <a href="../page/about.html">About</a>&nbsp;&nbsp;&nbsp;
            <a href="../page/contact.html">Contact</a>
    </nav>

    <div class = "articles">
        <h2>Citys</h2>
        
        <div class = "Industry">
            <div>
                <h3><a href="../articles/manga-wiki.html">[Content to be replaced]</a></h3>
                <p>[Content to be replaced]</p>
                <img src="../images/manga.png" alt="image of City" width="300">
            </div>
            <br>

            <div>
                <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                <p>[Content to be replaced]</p>
                <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
            </div>
            <br>

            <div>
                <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                <p>[Content to be replaced]</p>
                <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
            </div>
            <br>

            <div>
                <h3><a href="../articles/manga-market.html">[Content to be replaced]</a></h3>
                <p>[Content to be replaced]</p>
                <img src="../images/manga-analysis-report.png" alt="image of City" width="800">
            </div>
            <br>
        </div>
        <br>
       

    </div>
    <br>
            
    <div>
        <p>
                <a href="../homepage.html">&lt;Go  Back</a>
            </p>
    </div>
    <br>

    <footer>
        <div>
            <h2>Cookies</h2>
            <p>
                We use cookies to enhance and promote our services. Choose “Accept All” to agree to the current cookie settings or “Customize” to make individual choices and get details on the cookies in use.Visit our Cookie Policy page to learn more.
            </p>
            <a href="#">Accept cookies</a>
        </div>
        
    </footer>
</body>
</html>