<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="icon" type="jpg" href="../images/cat.jpg">
</head>
<body>
    <nav>
            <img src="../images/cat.jpg" alt="image of a cat" width="50">
            <a href="../homepage.html">Homepage</a>&nbsp;&nbsp;&nbsp;
            <a href="../page/cityslist.html">Citys</a>&nbsp;&nbsp;&nbsp;
            <a href="../page/about.html">About</a>&nbsp;&nbsp;&nbsp;
            <a href="contact.html">Contact</a>
    </nav>

    <div>
        <div>
            <h1>Contact</h1>
        </div>
        <form action=“/process-contact” method="POST">
            <fieldset>
                <legend>Contact Message</legend>
                <label>Name:<br>
                    <input name="name" type="text" required>
                </label>
                <br>
                <br>

                <label>Email:<br>
                    <input name="email" type="email">
                </label>
                <br>
                <br>
                <br>

                <label>Message:<br>
                    <textarea rows="5" cols="50"></textarea>
                </label>

            </fieldset>
            <br>

            <label>
                <input name="Submit" type="submit">
            </label>

        </form>
    </div>
    <br>

    <div>
        <p>
                <a href="../homepage.html">&lt;Go  Back</a>
            </p>
    </div>
    <br>

    <footer>
        <div>
            <h2>Cookies</h2>
            <p>
                We use cookies to enhance and promote our services. Choose “Accept All” to agree to the current cookie settings or “Customize” to make individual choices and get details on the cookies in use.Visit our Cookie Policy page to learn more.
            </p>
            <a href="#">Accept cookies</a>
        </div>
        
    </footer>
</body>
</html>